<%- include('../partials/head') %>

<%- include('../partials/navbar') %>

  <section class="section">
    <div class="l-container">
      <div class="is-flex is-flex-wrap-wrap">
  
        <div class="flex-item m-3">
          <div class="field sm-input">
            <label class="label">Năm học</label>
            <input class="input" type="text" value="2021-2022" readonly>
          </div>
        </div>
  
        <div class="flex-item m-3">
          <div class="field sm-input">
            <label class="label">Học kỳ</label>
            <input class="input" type="text" value="Học kỳ 1" readonly>
          </div>
        </div>
        
      </div>
    </div>
  </section>


  <section class="section">
    <div class="l-container">
      <table class="table is-hoverable is-fullwidth is-bordered">
        <thead>
          <tr>
            <th>STT</th>
            <th>Mã lớp</th>
            <th>Lớp</th>
            <th>Sỉ số</th>
            <th>Giáo viên chủ nhiệm</th>
            <th>Lựa chọn</th>
          </tr>
        </thead>
        
        <tbody>
          <tr>
            <th>1</th>
            <td>10A12122</td>
            <td>10A1</td>
            <td>0</td>
            <td></td>
            <td class="has-text-centered">
              <a href="/diem/nhap-diem/10A12122" class="button is-info">Nhập điểm</a>
            </td>
          </tr>
        </tbody>
  
      </table>
    </div>
  </section>

<%- include('../partials/footer') %>