<!-- <script src="/js/ui.js"></script>
<script src="/js/ajax.js"></script>

</body>
</html> -->

        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021. Premium <a
                href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All
              rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i
                class="ti-heart text-danger ml-1"></i></span>
          </div>
        </footer>

      <!-- content-wrapper -->
      </div>
    
    <!-- main-panel -->
    </div>
  
  <!-- page-body-wrapper -->
  </div>


  <script src="/vendors/js/vendor.bundle.base.js"></script>
  <script src="/js/template.js"></script>
  <script src="/js/off-canvas.js"></script>
  <script src="/js/hoverable-collapse.js"></script>
  <script src="/js/settings.js"></script>
  <script src="/js/todolist.js"></script>
  <script src="/js-2/ui.js"></script>
  </body>

</html>