      <!-- content-wrapper -->
      </div>
      
    <!-- main-panel -->
    </div>

  <!-- page-body-wrapper -->
  </div>

  <%- include('./message'); %>

  <script src="/js/ajax.js"></script>
  <script src="/js/ui.js"></script>
  <script src="/vendors/js/vendor.bundle.base.js"></script>
  <script src="/js/template.js"></script>
  </body>

</html>
