
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <% if(currentUser.role == 'VT1') { %>
    <ul class="nav">
    
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="menu-icon fa-solid fa-house"></i>
          <span class="menu-title">Trang chủ</span>
        </a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link" href="/hoc-sinh">
          <i class="menu-icon fa-solid fa-book-open-reader"></i>
          <span class="menu-title">Quản lý học sinh</span>
        </a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link" href="/lop-hoc">
          <i class="menu-icon fa-solid fa-chalkboard"></i>
          <span class="menu-title">Quản lý lớp học</span>
        </a>
      </li>
  
    </ul>
  <% } %>

  <% if(currentUser.role == 'VT2') { %>
    <ul class="nav">
    
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="menu-icon fa-solid fa-house"></i>
          <span class="menu-title">Trang chủ</span>
        </a>
      </li>
  
    </ul>
  <% } %>
</nav>
